# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://pwlxgqcsoecgjefkbcjx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_pIGxC_ecVqKlGoDpg0gpJQ_FPzb4VIl

# Flutterwave
NEXT_PUBLIC_FLW_PUBLIC_KEY=
FLW_SECRET_KEY=
FLW_SECRET_HASH=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_PRICE_KES=130
